body {
background-color: #73D1FF;
color: #14274e;
font-family: 'Cantarell', sans-serif;
font-size: 18px;
font-weight: bold;
text-shadow: 3px 3px 2px rgba(136, 136, 136, 0.4);
 }


h1, h2, h3 {

}

 h1 {
color: rgb(0, 0, 0);
font-family: Arial;
font-size: 72px;
font-weight: bolder;
 }

h2 {
color: #3f4441;
font-family: Arial;
font-size: 48px;
font-weight: bolder;
text-decoration: underline;
}

a {
text-decoration: none;
color: #14274e
font-weight: 600;
font-size: 16px;
}


a:hover {
color: black;
}


@media (max-width: 760px) {
.container {
width: 600px;
}
}


@media (max-width: 500px) {
.container {
width: 400px;
}
}


.container {
width: 1000px;
margin: 40px auto;
 }

.card-white {
background-color: white;
padding: 40px;
margin: 20px 0px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
border-radius: 6px;
text-align: center;
}

.img-circle {
border-radius: 50%;
border: 5px solid black;
width: 200px;
}

.btn-blue {
background-color: #aa3a3a;
color: white;
padding: 13px 30px;
border-radius: 4px;
border: 2px solid black;
}

.btn-blue:hover {
background-color: #931a25;
color: white;
}

.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
}

.list-inline i {
font-size: 50px;
color: #aa3a3a;
}

.list-inline i:hover {
font-size: 60px;
color: #931a25;
}


#introduction p {
margin-bottom: 40px;
}